<header>
	<span>Planets</span>
	<ul id="menu">
		<li><a href="/">Stars</a></li>
		<li><a href="/moons">Moons</a></li>
		<li><a href="/elements">Elements</a></li>
	</ul>
</header>
<main>
	<div class="filter">
		<span>Filters</span>
		<label for="filter-name">Name</label>
		<div class="filter-input"><input type="text" name="filter-name"></div>

		<label for="filter-star">Star</label>
		<div class="filter-input"><input type="text" name="filter-star"></div>

		<label for="filter-moon">Moon</label>
		<div class="filter-input"><input type="text" name="filter-moon"></div>

		<label for="filter-composition">Composition</label>
		<div class="filter-input"><input type="text" name="filter-composition"></div>
		
		<button id="filter-update-button">Update</button>
		<label>or</label>
		<button id="add-item-button">Add A New Planet</button>
	</div>
	<table>
	  <tr>
		<th></th>
		<th>Name</th>
		<th>Diameter</th>
		<th>Orbital Period</th>
		<th>Main Star</th>
		<th>Number Of Moons</th>
	  </tr>
	  {{#each planets}}
	  <tr>
		<td><img src="/static/planets/{{name}}.jpg" alt="{{name}}"></td>
		<td>{{name}}</td>
		<td>{{diameter}} mi</td>
		<td>{{period}} ED</td>
		<td>{{star_name}}</td>
		<td>{{num_moons}}</td>
		<td><button type="button" onclick="deletePlanet({{id}})" class="delete-button">Delete</button><button type="button" class="update-button">Update</button></td>
	  </tr>
	  {{/each}}
	</table>

	<div id="form-box" class="hidden">
		<form class="add-item-form" action="/planets" method="post">
			<div id="form-header">
				<span>Add Planet</span>
			</div>
			Name: <input type="text" name="name"><br>
			Diameter: <input type="number" name="diameter"><br>
			Period: <input type="number" name="period"><br>
			Star Orbited: <input type="text" name="star_name"><br>
			# Moons: <input type="number" name="num_moons"><br>
			<input type="submit" value="Add Planet">
			<input type="submit" id="form-cancel" value="Cancel"
		</form>
	</div>
</main>
