<body>
	<header>
		<span>Elements</span>
		<ul id="menu">
			<li><a href="/">Stars</a></li>
			<li><a href="/planets">Planets</a></li>
			<li><a href="/moons">Moons</a></li>
		</ul>
	</header>
	<main>
		<table>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Atomic Number</th>
			</tr>
			{{#each elements}}
			<tr>
				<td><img src="/static/elements/{{name}}.png" alt="{{name}}" style="width:250px;height:150px;"></td>
				<td><a href="/elements/{{id}}"">{{name}}</a></td>
				<td>{{id}}</td>
			</tr>
			{{/each}}
		</table>
	</main>
</body>
