<header>
	<span>Moons</span>
	<ul id="menu">
		<li><a href="/">Stars</a></li>
		<li><a href="/planets">Planets</a></li>
		<li><a href="/elements">Elements</a></li>
		<li><a href="/compositions">Compositions</a></li>
	</ul>
</header>
<main>
	<div class="filter">
		<span>Filters</span>
		<label for="filter-name">Name</label>
		<div class="filter-input"><input type="text" name="filter-name"></div>

		<label for="filter-planet">Planet</label>
		<div class="filter-input"><input type="text" name="filter-planet"></div>

		<label for="filter-composition">Composition</label>
		<div class="filter-input"><input type="text" name="filter-composition"></div>

		<button id="filter-update-button">Update</button>
		<label>or</label>
		<button id="add-item-button">Add A New Moon</button>
	</div>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Planet</th>
			<th>Diameter</th>
		</tr>
		{{#each moons}}
		<tr>
			<td><img src="/static/moons/{{name}}.jpg" alt="{{name}}" style="width:auto;height:150px;"></td>
			<td>{{name}}</td>
			<td>{{planet_orbiting}}</td>
			<td>{{diameter}} mi</td>
			<td><button type="button" class="delete-button">Delete</button><button type="button" class="update-button">Update</button></td>
		</tr>
		{{/each}}
	</table>

	<div id="form-box" class="hidden">
		<form class="add-item-form" action="/moons" method="post">
			<div id="form-header">
			<span>Add Moon</span>
			</div>
			Name: <input type="text" name="name"><br>
			Planet Orbited: <input type="number" name="planet_orbited"><br>
			Diameter: <input type="number" name="diameter"><br>
			<input type="submit" value="Add Moon">
			<input type="submit" id="form-cancel" value="Cancel"
		</form>
	</div>
</main>
