<header>
	<span>Stars</span>
	<ul id="menu">
		<li><a href="/planets">Planets</a></li>
		<li><a href="/moons">Moons</a></li>
		<li><a href="/elements">Elements</a></li>
	</ul>
</header>
<main>
	<div class="filter">
		<span>Filters</span>
		<div id="filter-input-container"
			<label for="filter-name">Name</label>
			<div class="filter-input"><input type="text" name="filter-name"></div>

			<label for="filter-galaxy">Galaxy</label>
			<div class="filter-input"><input type="text" name="filter-galaxy"></div>

			<label for="filter-planet">Planet</label>
			<div class="filter-input"><input type="text" name="filter-planet"></div>

			<label for="filter-composition">Composition</label>
			<div class="filter-input"><input type="text" name="filter-composition"></div>

			<button id="filter-update-button">Update</button>
			<label>or</label>
			<button id="add-item-button">Add A New Star</button>
		</div>
	</div>
	<table>
		<tr>
		<th></th>
		<th>Name</th>
		<th>System</th>
		<th>Type</th>
		<th>Age</th>
		</tr>
	  {{#each stars}}
	  <tr>
		<td><img src="/static/stars/{{name}}.jpg" alt="{{name}}" style="width:auto;height:150px;"></td>
		<td>{{name}}</td>
		<td>{{system}}</td>
		<td>{{type}}</td>
		<td>{{age}}</td>
		<td><button type="button" onclick="deleteStar({{id}})" class="delete-button">Delete</button><button type="button" onclick="updateStar({{id}})" class="update-button">Update</button></td>
	  </tr>
	  {{/each}}
	</table>

	<div id="form-box" class="hidden">
		<form class="add-item-form" action="/" method="post">
			<div id="form-header">
				<span>Add Star</span>
			</div>
			Name: <input type="text" name="name"><br>
			System: <input type="text" name="system"><br>
			Type: <input type="text" name="type"><br>
			Age: <input type="number" name="age"><br>
			<input type="submit" value="Add Star">
			<input type="submit" id="form-cancel" value="Cancel"
		</form>
	</div>
</main>
