<header>
	<span>Stars</span>
	<ul id="menu">
		<li><a href="/planets/planets.html">Planets</a></li>
		<li><a href="/moons/moons.html">Moons</a></li>
		<li><a href="/elements/elements.html">Elements</a></li>
	</ul>
</header>
<main>
	<div class="filter">
		<span>Filters</span>
		<div id="filter-input-container"
			<label for="filter-name">Name</label>
			<div class="filter-input"><input type="text" name="filter-name"></div>

			<label for="filter-galaxy">Galaxy</label>
			<div class="filter-input"><input type="text" name="filter-galaxy"></div>

			<label for="filter-planet">Planet</label>
			<div class="filter-input"><input type="text" name="filter-planet"></div>

			<label for="filter-composition">Composition</label>
			<div class="filter-input"><input type="text" name="filter-composition"></div>

			<button id="filter-update-button">Update</button>
			<label>or</label>
			<button id="add-item-button">Add A New Star</button>
		</div>
	</div>
	<table>
		<tr>
		<th></th>
		<th>Name</th>
		<th>System</th>
		<th>Type</th>
		<th>Age</th>
		</tr>
	  {{#each stars}}
	  <tr>
		<td><img src="stars/{{name}}.jpg" alt="{{name}}" style="width:auto;height:150px;"></td>
		<td>{{name}}</td>
		<td>{{system}}</td>
		<td>{{type}}</td>
		<td>{{age}}</td>
		<td><button type="button" class="delete-button">Delete</button><button type="button" class="update-button">Update</button></td>
	  </tr>
	  {{/each}}
	</table>

	<div id="add-item-form" class="hidden">
		<div id="form-header">
			<span>Add Star</span>
		</div>
		<div class="form-input">
			<label for="form-name-input">Star name</label>
			<input type="text" id="form-name-input"></input>
		</div>
		<div class="form-input">
			<label for="form-image-input">Image url</label>
			<input type="text" id="form-image-input"></input>
		</div>
		<div class="form-input">
			<label for="form-system-input">Star system</label>
			<input type="text" id="form-system-input"></input>
		</div>
		<div class="form-input">
			<label for="form-type-input">Star Type</label>
			<input type="text" id="form-type-input"></input>
		</div>
		<div class="form-input">
			<label for="form-age-input">Star age</label>
			<input type="text" id="form-age-input"></input>
		</div>
		<div id="form-buttons">
			<button type="button" id="form-accept">Add Star</button>
			<button type="button" id="form-cancel">Cancel</button>
		</div>
	</div>
</main>